/*
  Colors
*/
$black: #111;
$black-secondary: #222;
$white: #eee;
$orange: #d57f16;

/*
  Fonts
*/
$monospace: monospace, serif;
$source-code: "Source Code Pro", sans-serif;
$roboto: "Roboto", sans-serif;

/*
  Border radius
*/
$radius-small: 6px;
$radius-medium: 14px;

/*
  Media-breakpoints
*/
$mob: 500px;
$tab: 1024px;
$dt: 1240px;
